<!doctype html>
<html lang="en">
    <head>
        {% include "head.html" %}
    </head>
    <body>
        <div class="loading-div">
            <p class="loading-text">Loading...</p>
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div id="loading-screen" class="loading"></div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script>
        $(document).ready(function(){
            window.location.replace("{{ bokeh_page_url }}");
        });
        </script>
    </body>
</html>