<!doctype html>
<html lang="en">
    <head>
        {% include "head.html" %}
    </head>
    <body>
        <p id="cargando" class="loading-text" style="color:blanchedalmond; font-size: 30pt;">Cargando...</p>
        <div id="loading-screen" class="loading"></div>
        <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
        <script>
        $(document).ready(function(){
            window.location.replace("{{ bokeh_page_url }}");
        });
        </script>
    </body>
</html>